{% extends "base.html" %}
{%block title%}
CONO Zone
{%endblock%}

    
    {%block content%}

    <nav>
        <a href="{{ url_for('home') }}#homepage"><img src="{{ url_for('static', filename='images/image-removebg-preview.png') }}" alt="" style="position: fixed; bottom: 0; left: 0; width: 50px;height: 50hv;"></a>
    </nav>
    
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <nav>
        <a href="#homepage"><img src="static/images/image-removebg-preview.png'" alt="" style="position: fixed; bottom: 0; left: 0; width: 50px;height: 50hv;"></a>
    </nav>

    <!-- Navigation bar -->
    <nav>
        <ul>
            <li class="logo"><img src="static/images/image-removebg-preview.png" alt="Logo"></li>
            <li><a href="#homepage">Home Page</a></li> 
            <li><a href="#special-offers">Offers</a></li>
            <li><a href="{{url_for('menu')}}">Menu</a></li>
            <li><a href="#dessert-section">Contact Us</a></li>
            <li><a href="{{url_for('login')}}">Join Us</a></li>
            <li class="cart" style="width: 10px;height: 10hv;"><a href="{{url_for('cart')}}"><img src="static/images/cart.png" alt="Logo"></a></li>
        </ul>
    </nav>
    
    <!-- Home page section -->
    <section id="homepage" class="full-height features-section"> <!-- Updated ID -->
        <!-- Navigation for the home page section -->
        <nav id="uniqueNav">
            <ul>
                <!-- Home page content -->
                <li>
                    <h1>Hello There!</h1>
                    <p>Welcome to our dessert paradise!<br><br>
                        Explore a delectable selection of treats including ice cream, donuts,<br>
                        pancakes, and more. Indulge in our finest ingredients, crafted<br>
                        into irresistible delights that promise to satisfy every craving.<br>
                        Join us on a sweet journey where every bite is a celebration!</p>
                    <br>
                    <!-- What's New button -->
                    <button><a id="whatnewbtn" href="#cta">What's New</a></button>
                </li>
                <!-- Image -->
                <li><a href="menu.html#icecream"><img src="static/images/homeIce.png" alt="Logo" style="height: auto; width: 500px;margin-top: -70px;"></a></li>
            </ul>
        </nav>
    </section>
    
    
    <section id="cta" class="full-height cta-section">
        <h1 style="margin-top: 240px; font-family:brush script mt, cursive; font-size: 50px;color: #8B5943;">Your breakfast on us!</h1>
        <center>
            <p style="font-family: comic sans ms, cursive;margin-top: -30px;color: #8B5943;">
                We're thrilled to announce the grand opening of our brand new Breakfast Section at CONO Zone!<br> Start your day the right way with our mouthwatering selection of breakfast delights crafted to fuel your morning adventures!
            </p>
        </center>
        <div class="cont">
            <div><a href="#"><img src="static/images/1.png" alt="" class="ca"></a></div>
            <div><a href="#"><img src="static/images/2.png" alt="" class="ca"></a></div>
            <div><a href="#"><img src="static/images/3.png" alt="" class="ca"></a></div>
            <div><a href="#"><img src="static/images/4.png" alt="" class="ca"></a></div>
        </div> 

    </section>
    
    <!-- Special Offers section -->
    <section id="special-offers" class="full-height special-offers-section">
    <div class="offers" style="margin-top: 70px;">
        <div class="offer">
            <svg version="1.1"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 500 500">

                <image width="500"
                       height="500"
                       xlink:href="{{ url_for('static', filename='images/تصميم_بدون_عنوان-removebg-preview.png') }}">
                </image>

                <a xlink:href="{{ url_for('menu') }}#donuts">
                    <rect x="220" y="196" fill="#fff" opacity="0" width="130" height="137"></rect>
                </a>

                <a xlink:href="{{ url_for('menu') }}#donuts">
                    <rect x="195" y="100" fill="#fff" opacity="0" width="58" height="62"></rect>
                </a>

                <a xlink:href="{{ url_for('menu') }}#cakes">
                    <rect x="270" y="85" fill="#fff" opacity="0" width="68" height="64"></rect>
                </a>

                <a xlink:href="{{ url_for('menu') }}#Sweets">
                    <rect x="123" y="273" fill="#fff" opacity="0" width="70" height="68"></rect>
                </a>

                <a xlink:href="{{ url_for('menu') }}#Colddriks">
                    <rect x="339" y="345" fill="#fff" opacity="0" width="67" height="63"></rect>
                </a>

                <a xlink:href="{{ url_for('menu') }}#Snacks">
                    <rect x="9" y="303" fill="#fff" opacity="0" width="50" height="50"></rect>
                </a>

                <a xlink:href="{{ url_for('menu') }}#Snacks">
                    <rect x="66" y="349" fill="#fff" opacity="0" width="50" height="50"></rect>
                </a>

                <a xlink:href="{{ url_for('menu') }}#Sweets">
                    <rect x="181" y="343" fill="#fff" opacity="0" width="58" height="54"></rect>
                </a>

            </svg>
        </div>

        <div class="offer">
            <h2 style="margin-top: 5px; font-family: brush script mt, cursive; font-size: 50px; color: #D9BF9D;">
                Special Offers
            </h2>

            <br><br><br>

            <p style="font-family: comic sans ms, cursive; margin-top: -50px; color: #D9BF9D;">
                Our menu is filled with delightful surprises waiting to be discovered.
                From hearty breakfast bowls to delightful pastries, there's no shortage
                of delicious options to tantalize your taste buds.
            </p>
        </div>
    </div>
</section>
        <!-- Contact Us section -->
    <section id="dessert-section"
             class="full-height dessert-section"
             style="background-image:url('static/images/WAL2.png'); background-size: cover; background-position: center;">

        <nav class="unique-nav" style="background-color: transparent;margin-top: 240px;">
            <ul>
                <li>
                    <center>
                        <h1 style="margin-top: -80px; font-family:brush script mt, cursive; font-size: 50px;color: #8B5943;">
                            Contact Us!
                        </h1>

                        <p style="font-family: comic sans ms, cursive;margin-top: -30px;color: #8B5943;">
                            Join our online community and be the first to discover <br>
                            our newest creations and exclusive offers. Whether you're <br>
                            craving a delicious desert-themed treat or simply seeking <br>
                            a cozy spot to unwind, our
                            <span style="background-color: #8B5943; color: #D9BF9D;">
                                Facebook page
                            </span>
                            is your ultimate <br>
                            destination. Engage with us, share your feedback, and become <br>
                            part of our cafe family. Follow us now and let's make every <br>
                            moment a memorable one!
                        </p>

                        <br>

                        <div style="animation: 1.5s infinite hi;">
                            <a class="hi"
                               href="https://www.facebook.com/profile.php?id=100086471581582"
                               target="_blank">
                                Join Our Community
                            </a>
                        </div>
                    </center>
                </li>

                <li>
                    <iframe width="560"
                            height="315"
                            src="https://www.youtube.com/embed/XOA5FLzUAzA?si=OuHHswxFNKlytNED"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin"
                            allowfullscreen>
                    </iframe>
                </li>
            </ul>
        </nav>
    </section>
    {%endblock%}